@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: "Poppins", sans-serif;
}


h1{
    text-align: center;
}

button{
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid white;
    flex:  auto; 
}

main{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    margin-left: 25vh;
    margin-right: 25vh;
}


table{
    /* border: 2px solid white; */
    margin-top: 10vh;
    font-size: 25px;
    text-align: center;
}
th, tr{
    border: 2px solid white;
    padding: 25px;
    border-radius: 10px;
}
